
{% extends 'base.html' %}

{% block content %}

<h1 class='mt-3'>상세 페이지</h1>
<p>제목 : {{ movie.title }}</p>
<p>내용 : {{ movie.content }}</p>
<p>좋아요 : {{ movie.like_users.count }}</p>
<p>싫어요 : {{ movie.dislike_users.count }}</p>
<br>

{% if request.user == movie.user %}
<a href="{% url 'movies:update' movie.pk %}">UPDATE</a><br>
<form action="{% url 'movies:delete' movie.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE">
</form>
{% endif %}

<br>

<h4>댓글 목록</h4>
{% if comments %}
    {% for comment in comments %}
        <div class="card mb-2">
            <div class="card-body">
                {{ comment.user }} - {{ comment.comment }}
                {% if request.user == comment.user %}
                    <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="DELETE">
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>아직 댓글이 없어요...</p>
{% endif %}

<br>

<form action="{% url 'movies:comments_create' movie.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="댓글 작성">
</form>

{% endblock content %}